<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Tonnetz – One Key, Many Representations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet"> -->
    </head>
    <body>
        <div class=header>
            <div style="background: #b30469"></div>
            <div style="background: #822b9b"></div>
            <div style="background: #5053cd"></div>
            <div style="background: #1f7aff"></div>
            <div style="background: #258dab"></div>
            <div style="background: #2ba058"></div>
            <div style="background: #31b304"></div>
            <div style="background: #76a90d"></div>
            <div style="background: #e6bd00"></div>
            <div style="background: #ff941f"></div>
            <div style="background: #e66438"></div>
            <div style="background: #cc3450"></div>
        </div>

        <div id="proto">
            <h1 v-cloak>{{ strings.get('title') }}</h1>
            <h2 v-cloak>{{ strings.get('subtitle') }}</h2>
            <language-selector :languages="Object.keys(strings.data)" @input="strings.setLanguage($event)"></language-selector>
            <div v-cloak class="reset" @click="reset(language)">{{ strings.reset }}</div>

            <div class="columns">
                <div class="col-1" v-cloak>
                    <tonnetz-view :notes="notes" :trace="trace"></tonnetz-view>
                </div>

                <div class="col-2" v-cloak>
                    <clock-octave v-bind:notes="notes" v-bind:height="400" v-bind:width="400" v-bind:intervals="1"></clock-octave>
                    <clock-octave v-bind:notes="notes" v-bind:height="400" v-bind:width="400" v-bind:intervals="7"></clock-octave>
                </div>
            </div>
            <play-recorder @reset-notes="resetNotes"></play-recorder>
            <ascii-bindings></ascii-bindings>


            <div class="piano-wrap"><piano-keyboard :id="'piano'"></piano-keyboard></div>

            <credit-screen></credit-screen>
        </div>

        <script src="lib/fallback/fallback.js"></script>
        <script src="js/loadDeps.js"></script>
        <script src="js/index.js"></script>
       
    </body>
</html>